<title>Events</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<script src="/js/angular.js"></script>
<script src='/js/angularApp.js'></script>
<script src='/js/services/angularEventService.js'></script>
<script src='/js/jquery.min.js'></script>
<script src='/js/bootstrap.min.js'></script>
