<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header col-md-4">
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-flash"></span> EventsAPP</a>
      <p class="navbar-text">
        Create your own events
      </p>
    </div>

    <div class="col-md-4">
      <a href="/addEvent" type="button" class="btn btn-success navbar-btn btn-block"><span class="glyphicon glyphicon-plus"></span>
         Create Event</a>
    </div>

    <div class="col-md-4">
      <% if(user) { %>
        <div class="pull-right">
          <a class="navbar-text" href="/profile">
            <span class="glyphicon glyphicon-user"></span> <%= user.login %>
          </a>
          <a href="/logout" type="button" class="btn btn-danger navbar-btn">
            Logout</a>
        </div>
      <% } else { %>
        <div class="pull-right">
          <a href="/login" type="button" class="btn btn-default navbar-btn">
            Login</a>
          <a href="/signup" type="button" class="btn btn-primary navbar-btn">
            Signup</a>
        </div>
      <% } %>
    </div>
  </div>
</nav>
