<!doctype html>
<html>
<head>
  <% include ../partials/head.ejs %>
  <script src="/js/controllers/eventsListHomeController.js"></script>
</head>
<body ng-app="eventsApp" >
  <div class="navbar">
    <% include ../partials/top-bar.ejs %>
  </div>

  <div class="container" ng-controller="eventsListHomeController" <% if(user){ %>ng-init="userId = '<%=user._id%>'"<% } %>>
    <% include ../partials/eventsList.ejs %>
  </div>

</body>
</html>
