<!doctype html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body ng-app="eventsApp">
  <div class="navbar">
    <% include ../partials/top-bar.ejs %>
  </div>

  <div class="container" ng-controller="eventsListController">
    <div class="panel panel-primary" ng-repeat="event in events">
      <div class="panel-heading">
        <h3>{{event.name}}</h3>
      </div>
      <div class="panel-body">
        <p>
          {{event.description}}
        </p>
      </div>
    </div>
  </div>

</body>
</html>
