<!doctype html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body ng-app="eventsApp" >
  <div class="navbar">
    <% include ../partials/top-bar.ejs %>
  </div>

  <div class="container" ng-controller="eventsListController" <% if(user){ %>ng-init="userId = '<%=user._id%>'"<% } %>>
    <div class="panel panel-primary" ng-repeat="event in events">

      <div class="panel-heading">
        <h4 class="panel-title">
          <a >{{event.name}}</a>
        </h4>
      </div>

      <div class="panel-body">
        <p>
          {{event.description}}
        </p>
      </div>

      <div class="panel-footer">
        <a ng-click="deleteEvent(event._id)" ng-if="isUserEventOwner(event)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trashglyphicon glyphicon-trash"></span> Delete</a>
      </div>

    </div>
  </div>

</body>
</html>
