<!doctype html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <div class="navbar">
    <% include ../partials/top-bar.ejs %>
  </div>
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <p>
        <strong>Imię: </strong> <%= user.name %><br />
        <strong>Nazwisko: </strong> <%= user.surname %><br />
        <strong>Login: </strong> <%= user.login %>
      </p>
    </div>
  </div>

</body>
</html>
